<footer class="border-t border-white/10 bg-[#0a0a0a] relative overflow-hidden z-50">

  <div class="relative max-w-7xl mx-auto px-6 py-20 text-sm">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-16">

      <!-- Brand -->
      <div>
        <img src="/icons/BULLETTE-LOGO-WT.png" class="w-44 mb-6" />
        <p class="text-white leading-relaxed max-w-xs">
          Bullette Ultra is engineered for professionals — delivering
          uncompromising reliability, safety, and long-term performance.
        </p>
      </div>

      <!-- Products -->
      <div>
        <h4 class="text-xs font-semibold text-white mb-6 uppercase tracking-[0.25em]">
          Products
        </h4>
        <ul class="space-y-4 text-[#b5b5b5]">
          <li><a class=" transition" href="/ultra">Ultra Series</a></li>
          <li><a class=" transition" href="/products">All Products</a></li>
          <li><a class=" transition" href="/categories/wiring">Wiring Accessories</a></li>
        </ul>
      </div>

      <!-- Company -->
      <div>
        <h4 class="text-xs font-semibold text-white mb-6 uppercase tracking-[0.25em]">
          Company
        </h4>
        <ul class="space-y-4 text-[#b5b5b5]">
          <li><a class="" href="/about">About Us</a></li>
          <li><a class="" href="/careers">Careers</a></li>
          <li><a class="" href="/contact">Contact</a></li>
        </ul>
      </div>

      <!-- Support -->
      <div>
        <h4 class="text-xs font-semibold text-white mb-6 uppercase tracking-[0.25em]">
          Support
        </h4>
        <ul class="space-y-4 text-[#b5b5b5]">
          <li><a class="" href="/support">Product Support</a></li>
          <li><a class="" href="/warranty">Warranty</a></li>
          <li><a class="" href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>

    </div>

    <!-- Bottom -->
    <div class="mt-20 pt-8 border-t border-white/10 flex flex-col sm:flex-row justify-between gap-6">
      <p class="text-xs tracking-wide text-[#8a8a8a]">
        © 2026 <span class="text-white font-medium">Bullette Ultra</span> — Engineered Without Compromise
      </p>

          <div class="flex justify-center gap-5 mt-12">
      <a href="" class="w-12 h-12 flex items-center justify-center
                bg-white rounded-full hover:bg-red-500 transition">
        <img src="/icons/social/fb.png" class="w-11 h-11" />
      </a>
      <a href="" class="w-12 h-12 flex items-center justify-center
                bg-white rounded-full hover:bg-red-500 transition">
        <img src="/icons/social/wtsp.png" class="w-11 h-11" />
      </a>
      <a href="" class="w-12 h-12 flex items-center justify-center
                bg-white rounded-full hover:bg-red-500 transition">
        <img src="/icons/social/insta.png" class="w-11 h-11" />
      </a>
    </div>
    </div>

  </div>
</footer>
